// Layout
//
// Styles for managing the structural hierarchy of the site.

/*
 * Wrapper - lanyon
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
   position: relative;
   width: 100%;
}

.container {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   margin-left: calc(14rem + 5%);
   margin-right: 5%;
   width: calc(100vw - 20rem);
}

footer {
   margin-bottom: 2rem;
}
